$backgroundColor: #040714;
$textColorMain: silver;
$textColorSecundary: #f9f9f9;
$backgrounColorPrimaryButton: #6421ff;
$backgrounColorSecondaryButton: #0063e5;
$backgrounColorDarkButton: #000;
$backgroundColorFaq: #13151d;
$textColorFaq: #fff;